@model Market.Web.ViewModels.CreateOfferViewModel

@{
    ViewBag.Title = "Home Page";
    
}



<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Details", "Details")
        @using (Html.BeginForm("Index", "Home"))
        {
            @Html.EditorForModel()
            <input type="submit" name="name" value="ddd" />
        }

    </div>
</div>