
@{
    ViewBag.Title = "NotFound";
}

<div class="container" style="text-align: center">
    <img src="~/Content/Images/error.png" class="mb-4" />
    <h3>
        <span class="text-300">
            Извените, страница не найдена!
        </span>

    </h3>
    <h5>
        <span class="text-300">
            Перейти на @Html.ActionLink("главную страницу", "buy", "offer")
        </span>

    </h5>
</div>

