@{
    ViewBag.Title = "Ваш пароль был успешно изменен";
}

<div class="text-center">
    <div class="alert alert-success  success-block">
        <p class="line-height-40">
            <span>Ваш пароль был успешно изменен</span>
        </p>
    </div>
    <p>
        <span>@Html.ActionLink("Войти в аккаунт", "Login", "Account")</span>
    </p>
</div>


