
@{
    ViewBag.Title = "Ошибка при изменении почты";
}


<div class="container text-center">
    <div class="alert alert-danger  success-block">
        <p class="line-height-40">
            <span>Ошибка при изменении почты</span>

        </p>
    </div>
</div>


