
@{
    ViewBag.Title = "Вам нужно активировать аккаунт";
}

<div class="text-center">
    <div class="alert alert-success success-block">
        <p class="line-height-40">
            <span>Вам нужно активировать аккаунт</span>
        </p>
    </div>
    <p>
        <span>Вам на почту было отправлено письмо с активацией аккаунта. Если вы не нашли письмо, то проверьте спам.</span>
    </p>
</div>
