
@{
    ViewBag.Title = "Settings";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-info">
                <h2>Настройки</h2>
                <p class="lead">Здесь вы можете изменить настройки учетной записи</p>
            </div>
            @{Html.RenderAction("AccountMenu", "Account"); }
            <div class="account-setting-container">
                <div class="row">
                    <div class="col-md-6">
                        @Html.Partial("UpdatePassword")

                        @Html.Partial("UpdateEmail")

                        @Html.ActionLink("Подтвердить почту","VerifyEmail", "Account")
                    </div>
                </div>
               
                
            </div>
        </div>
    </div>
</div>






