
@{
    ViewBag.Title = "UpdateEmail";
}


<div class="text-center">
    <div class="alert alert-success  success-block">
        <p class="line-height-40">
            <span>Ваш номер телефона подтвержден</span>

        </p>
    </div>
</div>

