
@{
    ViewBag.Title = "Благодарим за подтверждение электронной почты";
}


<div class="text-center">
    <div class="alert alert-success  success-block">
        <p class="line-height-40">
            <span>Благодарим за подтверждение электронной почты. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>

        </p>
    </div>
</div>

