
@{
    ViewBag.Title = "Подтверждение email";
}

<div class="text-center">
    <div class="alert alert-warning success-block">
        <p class="line-height-40">
            <span>Подтвердите ваш новый email адрес</span>

        </p>
    </div>
    <p>
        Вам нужно прейти по ссылке, которую мы прислали вам на почту. Если не найдёте письма в почте, проверьте Спам.

    </p>
</div>

