<ul class="inner">
    
    <li>
        <a href="#" class="toggle">Как зарегистрироваться продавцу?</a>
        <div class="inner">
            <p>
                Для того, чтобы продать товар вам нужно зарегистрироваться.
            </p>
            <p>
                После регистрации вам потребуется подтвердить телефон.
                Сделать это можно нажав на свой никнейм возле аватара сверху (его видно после регистрации) и далее нажать настройки и в разделе
                "Управление телефоном", ввести в поле "Номер телефона" свой мобильный номер и нажать кнопку "Подтвердить".
            </p>
            <p>
                После этого появится поле с кодом, который прийдет на ваш номер телефона. Введите этот код в поле и нажмите "Подтвердить".
            </p>
            <p>
                Вы подтвердили свой телефон.

            </p>
            <p>
                Все! Теперь вы можете выставлять аккаунты на продажу.
            </p>
        </div>
    </li>
    <li>
        <a href="#" class="toggle">Как подтвердить телефон?</a>
        <div class="inner">
            <p>
                Для подтверждения телефона нужно перейти в настройки профиля, нажав на свой никнейм возле аватара сверху (его видно после регистрации) и далее нажать настройки и в разделе
                "Управление телефоном", ввести в поле "Номер телефона" свой мобильный номер и нажать кнопку "Подтвердить".
            </p>
            <p>
                После этого появится поле с кодом, который прийдет на ваш номер телефона. Введите этот код в поле и нажмите "Подтвердить".
            </p>
            <p>
                Все! Вы подтвердили свой телефон.
            </p>
        </div>
    </li>
    <li>
        <a href="#" class="toggle">Не приходит SMS для подтверждения</a>
        <div class="inner">
            <p>
                При возникновении данной проблемы напишите в поддержку по адресу support@playerup.ru
            </p>
        </div>
    </li>
    <li>
        <a href="#" class="toggle">Не приходит сообщение на почту с подтверждением</a>
        <div class="inner">
            <p>
                При возникновении данной проблемы напишите в поддержку по адресу support@playerup.ru
            </p>
        </div>

    </li>
</ul>












