
@{
    ViewBag.Title = "Сообщение отправлено";
    
}

<div class="text-center">
    <div class="alert alert-success  success-block">
        <p class="line-height-40">
            <span>Спасибо! Ваше сообщение будет рассмотрено в ближайшее время</span>

        </p>
    </div>

</div>

