
@{
    ViewBag.Title = "PublicOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="contract-form">

            <p align="center">
                <strong>ПУБЛИЧНАЯ ОФЕРТА</strong>
            </p>
            <p>
                Интернет-сайт «playerup», расположенный на доменном имени    <a href="http://www.playerup.ru/">www.playerup.ru</a> – это виртуальная
                торговая площадка для покупки, продажи и обмена игровыми аккаунтами.
            </p>
            <p>
                <strong>1. </strong>
                <strong>ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</strong>
            </p>
            <p>
                1.1. Администрация [Сайта] – руководство Сайта playerup.ru,
                осуществляющее от лица собственника Сайта управление данным
                интернет-ресурсом на условиях настоящей Оферты.
            </p>
            <p>
                1.2. Аккаунт – учетная запись, содержащая идентификационные данные лица,
                необходимые для доступа в определенную электронную систему, онлайн игру и
                т.п.
            </p>
            <p>
                1.3. Акцепт Оферты – полное и безоговорочное принятие Оферты путем
                осуществления действий по просмотру страниц Сайта и/или регистрации на
                Сайте.
            </p>
            <p>
                1.4. Гарант – Пользователь, за определенную плату ручающийся за надлежащее
                выполнение в рамках конкретного Заказа Продавцом/Покупателем, своих
                обязательств.
            </p>
            <p>
                1.5. Договор на оказание услуг, Договор – договор между собственником Сайта
                и Пользователем на предоставление Услуг, который заключается посредством
                Акцепта настоящей публичной оферты.
            </p>
            <p>
                1.6. Заказ – предложение заказчика, оформленное и поданное на имя Продавца
                или Исполнителя посредством Сайта, в порядке, установленном настоящим
                Соглашением.
            </p>
            <p>
                1.7. Покупатель – зарегистрированный на Сайте пользователь, оформивший
                согласно требованиям настоящего Соглашения на Сайте заказ на покупку
                игрового аккаунта.
            </p>
            <p>
                1.8. Продавец – зарегистрированный на Сайте пользователь, оформивший
                согласно требованиям настоящего Соглашения на Сайте заказ на продажу
                игрового аккаунта.
            </p>
            <p>
                1.9. Предложение – объявление о продаже Аккаунта, опубликованное Продавцом
                на Сайте согласно требованиям специальной электронной формы, размещенной на
                Сайте.
            </p>
            <p>
                1.10. Пользователь, Пользователи [Сайта] – любое лицо, просматривающее
                страницы Сайта и/или успешно прошедшее процедуру Регистрации на Сайте.
                Пользователем Сайта вправе быть исключительно полностью дееспособное лицо.
            </p>
            <p>
                1.11. Регистрация [Пользователя] — установленная Администрацией процедура
                внесения Пользователем в базу зарегистрированных пользователей Услуг
                Администрации персональных данных и/или прочей предписанной Администрацией
                информации о Пользователе, производимая с целью идентификации Пользователя
                в качестве получателя Услуг. В процессе Регистрации Пользователю
                предлагается заполнить анкету Администрации, в которой последний указывает
                аутентификационные и персональные данные, на основании которых
                Администрация предоставляет Пользователю доступ Личный кабинет Пользователя
                на Сайте, доступный только Пользователю, и впоследствии доступ к конкретным
                Услугам. По результатам Регистрации создаётся учётная запись Пользователя
                на Сайте.
            </p>
            <p>
                1.12. Сайт – интернет-сайт playerup.ru , размещенный по адресу: http://
                playerup.ru, принадлежащий и/или используемый администрацией на праве
                собственности.
            </p>
            <p>
                <strong>2. </strong>
                <strong>ОБЩИЕ ПОЛОЖЕНИЯ</strong>
            </p>
            <p>
                2.1. Настоящее Соглашение является официальным публичным предложением
                собственника Интернет-сайта playerup, действующего в лице Администрации, и
                содержит все существенные условия предоставления Администрацией Услуг.
            </p>
            <p>
                2.2. В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской
                Федерации в случае принятия изложенных ниже условий юридическое или
                физическое лицо, производящее Акцепт настоящей Оферты становится
                Пользователем.
            </p>
            <p>
                2.3. Факт просмотра Сайта и/или Регистрации на Сайте Пользователя является
                полным и безоговорочным Акцептом (принятием) условий настоящей Оферты.
            </p>
            <p>
                2.4. Администрация и Пользователи также именуются в настоящей Оферте как
                Стороны.
            </p>
            <p>
                2.5. Администрация сайта вправе выступать в качестве
                Продавца/Покупателя/Заказчика/Исполнителя.
            </p>
            <p>
                2.6. Настоящее Соглашение (Оферта) составлено и регулируется согласно
                действующему Законодательству Российской Федерации.
            </p>
            <p>
                2.7. Сайт содержит материалы, охраняемые авторским правом, товарные знаки и
                иные охраняемые законом материалы. При этом все содержание Сайта охраняется
                авторским правом, как составное произведение, созданное коллективным
                творческим трудом, в соответствии с законодательством Российской Федерации
                об интеллектуальной собственности.
            </p>
            <p>
                2.8. Собственнику Сайта принадлежит исключительное право на использование
                содержания Сайта (в том числе право на подбор, расположение, систематизацию
                и преобразование данных, содержащихся на Сайте, а также на сами исходные
                данные), кроме случаев, отдельно отмеченных в содержании опубликованных на
                Сайте материалов, в том числе, исключительное право собственника Сайта не
                распространяется на материалы, размещенные на Сайте Пользователями.
                Использование содержания Сайта допускается в личных некоммерческих целях,
                иное использование содержания Сайта, включая копирование отдельных его
                элементов, запрещено. Нарушение данного положения влечет наступление
                ответственности в соответствии с действующим законодательством Российской
                Федерации.
            </p>
            <p>
                <strong>3. </strong>
                <strong>ПРЕДМЕТ СОГЛАШЕНИЯ</strong>
            </p>
            <p>
                3.1. В соответствии с настоящим Соглашением Администрация оказывает
                Пользователю Услуги как на безвозмездной, так и на возмездной основе, а
                Пользователь принимает и оплачивает указанные Услуги.
            </p>
            <p>
                3.2. Администрация в порядке и на условиях, предусмотренных Офертой,
                предоставляет Пользователю возможность использования Сайта, а Пользователь
                обязуется использовать Сайт в соответствии с условиями настоящей Оферты.
            </p>
            <p>
                <strong>4. </strong>
                <strong>ПОРЯДОК РЕГИСТРАЦИИ ПОЛЬЗОВАТЕЛЯ НА САЙТЕ</strong>
            </p>
            <p>
                4.1. Предоставление Пользователю Услуг в полном объеме возможно при условии
                создания им на Сайте соответствующей учетной записи (прохождении процедуры
                Регистрации). Учетная запись (регистрационный аккаунт) должна содержать
                никнейм (вымышленное имя) или настоящее имя Пользователя, адрес его
                электронной почты и пароль.
            </p>
            <p>
                4.2. Регистрация Пользователя на Сайте является бесплатной и добровольной.
            </p>
            <p>
                4.3. Пользователь обязан полностью ознакомиться с условиями настоящего
                Соглашения до момента Регистрации на Сайте. Регистрация Пользователя на
                Сайте означает полное и безоговорочное принятие Пользователем условий
                настоящего Соглашения.
            </p>
            <p>
                4.4. Регистрация учетной записи осуществляется путем заполнения
                регистрационной формы. В регистрационной форме необходимо указывать никнейм
                или подлинное имя, действующий адрес электронной почты, пароль. После
                заполнение данной формы на указанный адрес электронной почты Администрацией
                будет направлено письмо, содержащее ссылку, перейдя по которой Пользователь
                подтвердит Регистрацию. Данные действия обязательны для Регистрации.
            </p>
            <p>
                4.5. Указанные Пользователем имя (никнейм) и пароль являются необходимой и
                достаточной информацией для доступа Пользователя в Личный кабинет
                последнего на Сайте.
            </p>
            <p>
                4.6. Пользователь не вправе передавать свои имя (никнейм) и пароль третьим
                лицам и несет полную ответственность за их сохранность, самостоятельно
                выбирая способ хранения. Если Пользователем не доказано обратное, любые
                действия, совершенные с использованием его имени (никнейма) и пароля,
                считаются совершенными соответствующим Пользователем со всеми вытекающими
                последствиями.
            </p>
            <p>
                4.7. При установлении Пользователем фактов несанкционированного доступа к
                своей учетной записи, он обязуется в кратчайшие сроки уведомить об этом
                обстоятельстве Администрацию с помощью формы обратной связи расположенной
                по адресу http://localhost:57074/help/contactus.
            </p>
            <p>
                <strong>5. </strong>
                <strong>ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ</strong>
            </p>
            <p>
                5.1. Пользователь обязан предоставлять достоверную информацию о себе в
                процессе Регистрации на Сайте.
            </p>
            <p>
                5.2. Пользователь обязуется не воспроизводить, не повторять, не копировать,
                не продавать, а также не использовать в каких бы то ни было целях
                информацию и материалы, ставшие ему доступными на Сайте в связи с оказанием
                Администрацией Услуг, за исключением их личного использования.
            </p>
            <p>
                5.3. Пользователь обязан поддерживать в исправном техническом состоянии
                собственное оборудование и каналы связи, обеспечивающие ему доступ к Сайту,
                входить на Сайт под своим аккаунтом одновременно только с одного
                персонального компьютера. Администрация не несет ответственности за
                непредставление Услуги по причинам, не зависящим от Администрации.
            </p>
            <p>
                5.4. Пользователь обязуется знакомиться с актуальной версией Соглашения при
                каждом посещении Сайта до момента начала пользования Сайтом.
            </p>
            <p>
                5.5. Пользователь обязуется предварительно, до оформления Заказа,
                ознакомится со способами и условиями оплаты Услуг.
            </p>
            <p>
                5.6. Пользователь обязуется своевременно и в полном объеме оплачивать
                Услуги Администрации.
            </p>
            <p>
                5.7. Пользователь при использовании Сайта не вправе:
            </p>
            <p>
                5.7.1. Размещать на Сайте и/или направлять куда-либо через/посредством
                Сайта (загружать, хранить, публиковать, распространять, предоставлять
                доступ или иным образом использовать любую информацию, включая ссылки на
                нее) любые материалы следующего характера:
            </p>
            <p>
                - нарушающие действующее законодательство Российской Федерации,
                международного права или права зарубежных стран, содержащие угрозы, клевету
                или оскорбления, дискредитирующие других лиц, нарушающие права граждан на
                частную жизнь или публичный порядок, носящие характер непристойности,
                содержащие нецензурную лексику, порнографические изображения и тексты или
                сцены сексуального характера, насилия, как с участием несовершеннолетних
                так и без, содержащие сцены бесчеловечного обращения с животными,
                содержащие описание средств и способов суицида, любое подстрекательство к
                его совершению или к совершению действий, представляющих угрозу жизни и
                (или) здоровью, в том числе к причинению вреда своему здоровью;
            </p>
            <p>
                - нарушающие в той или иной степени честь и достоинство или деловую
                репутацию, права и охраняемые законом интересы других лиц, в том числе
                права несовершеннолетних;
            </p>
            <p>
                - способствующие или содержащие призывы к разжиганию религиозной, расовой
                или межнациональной (этнической) розни, содержащие попытки разжигания
                вражды или призывы к насилию, пропагандирующие фашизм или идеологию
                расового превосходства, другие социальные патологии;
            </p>
            <p>
                - содержащие экстремистские материалы, пропагандирующие преступную
                деятельность или содержащие советы, инструкции или руководства по
                совершению преступных действий;
            </p>
            <p>
                - содержащие информацию ограниченного доступа, включая, но не
                ограничиваясь, государственной и коммерческой тайной, информацией о частной
                жизни третьих лиц;
            </p>
            <p>
                - содержащие рекламу или описывающие привлекательность употребления
                наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов,
                оказывающих воздействие на мозг человека за счет «бинауральных ритмов»),
                информацию о распространении наркотиков, рецепты их изготовления и советы
                по употреблению;
            </p>
            <ul>
                <li>
                    носящую мошеннический характер;
                </li>
            </ul>
            <p>
                - иные материалы, способные причинить вред здоровью и (или) развитию детей,
                как классифицируется в Федеральном законе Российской Федерации от 29
                декабря 2010 г. №436-ФЗ «О защите детей от информации, причиняющей вред их
                здоровью и развитию»;
            </p>
            <p>
                - иные материалы, которые побуждают других лиц на противоправное поведение,
                влекущее уголовную, административную, гражданско-правовую и иную
                ответственность или каким-либо образом нарушающее положения действующего
                законодательства Российской Федерации. Любые действия Пользователя,
                которые, по мнению Администрации, ограничивают или препятствуют
                осуществлению прав другого Пользователя, не допускаются.
            </p>
            <p>
                5.7.2. Загружать, размещать или иным образом использовать на Сайте
                какие-либо материалы, охраняемые законодательством Российской Федерации об
                интеллектуальной собственности, о персональных данных и иные охраняемые
                законодательством материалы без получения выраженного разрешения обладателя
                прав на охраняемый материал. При этом бремя доказывания того, что
                размещение на Сайте Пользователем материалов не нарушает авторские, смежные
                и иные права третьих лиц на размещаемые материалы, лежит на Пользователе.
            </p>
            <p>
                5.7.3. Регистрироваться от имени или вместо другого лица.
            </p>
            <p>
                5.7.4. Вводить в заблуждение относительно своей личности, используя логин и
                пароль другого зарегистрированного Пользователя.
            </p>
            <p>
                5.7.5. Искажать при Регистрации сведения о себе.
            </p>
            <p>
                5.7.6. Любым способом, в том числе, но, не ограничиваясь, путем обмана,
                злоупотребления доверием, взлома, пытаться получить доступ к логину и
                паролю другого Пользователя.
            </p>
            <p>
                5.7.7. Осуществлять незаконные сбор и обработку персональных данных других
                лиц.
            </p>
            <p>
                5.7.8. Размещать любую другую информацию, которая, по мнению Администрации,
                является нежелательной, не соответствует целям создания Сайта, ущемляет
                интересы иных лиц или по другим причинам является нежелательной для
                размещения на Сайте.
            </p>
            <p>
                5.7.9. Использовать роботов, программ-«пауков», программ-«скраперов» и
                других автоматических средств доступа на Сайт без письменного разрешения
                Администрации.
            </p>
            <p>
                5.7.10. Осуществлять действия, которые несут или могут нести неоправданную
                или непропорционально большую нагрузку на инфраструктуру Сайта.
            </p>
            <p>
                5.7.11. Копировать, воспроизводить, изменять, создавать производные работы,
                распространять или публично воспроизводить любой Контент, представленный на
                Сайте, программируемый код, который является частью Сайта или сервисов,
                предлагаемых на Сайте без предварительного письменного разрешения
                Администрации и соответствующей третьей стороны в установленном порядке.
            </p>
            <p>
                5.7.12. Вмешиваться (пытаться вмешаться) в работу Сайта или любые действия,
                производимые на Сайте способами, прямо не предусмотренными настоящей
                Офертой.
            </p>
            <p>
                5.7.13. Обходить меры, которые Администрация может использовать для
                предотвращения или ограничения доступа к Сайту или любым подразделам Сайта,
                включая устройства, которые предотвращают или ограничивают использование
                или копирование любого материала или налагают ограничения на использование
                Сайта или содержащегося на нем материала.
            </p>
            <p>
                5.7.14. Распространять спам, сообщения, содержащие просьбу переслать данное
                сообщение другим Пользователем и/или другую нежелательную информацию.
            </p>
            <p>
                5.7.15. Пытаться вмешаться или ставить под угрозу целостность Сайта или
                безопасность, декодировать любую передачу от/ к серверу, обслуживающему
                Сайт.
            </p>
            <p>
                5.7.16. Загружать неверные данные, вирусы или другие вредоносные программы
                на Сайт или через него.
            </p>
            <p>
                5.7.17. Нарушать права третьих лиц.
            </p>
            <p>
                5.7.18. Другим образом нарушать нормы действующего законодательства
                Российской Федерации.
            </p>
            <p>
                5.8. В случае несогласия Пользователя с настоящим Соглашением или его
                обновлениями, Пользователь обязан отказаться от использования Сайта,
                проинформировав об этом Администрацию.
            </p>
            <p>
                5.9. Пользователь-физическое лицо, не являющееся индивидуальным
                предпринимателем, пользуется всеми правами потребителя в соответствии с
                действующим законодательством Российской Федерации, регулирующим отношения
                по возмездному оказанию услуг.
            </p>
            <p>
                <strong>6. </strong>
                <strong>ПРАВА И ОБЯЗАННОСТИ АДМИНИСТРАЦИИ</strong>
            </p>
            <p>
                6.1. Администрация вправе производить модификацию любого программного
                обеспечения Сайта, приостанавливать работу Сайта, при обнаружении
                существенных неисправностей, ошибок и сбоев, а также в целях проведения
                профилактических работ и предотвращения случаев несанкционированного
                доступа к Сайту.
            </p>
            <p>
                6.2. Администрация вправе использовать данные Пользователя, предоставленные
                последним, любым способом, не противоречащим Законодательству Российской
                Федерации.
            </p>
            <p>
                6.3. Администрация вправе консультировать Пользователя по ходу
                оформления/подтверждения/оплаты Заказа.
            </p>
            <p>
                6.4. Администрация оставляет за собой право в любой момент изменять условия
                настоящей Оферты в односторонней порядке без предварительного уведомления
                Администрация рекомендует Пользователям регулярно проверять условия
                настоящей Оферты на предмет их изменения и/или дополнения. Продолжение
                использования Сайта Пользователем после внесения Администрацией изменений
                и/или дополнений в Оферту означает безусловное и полное принятие и согласие
                Пользователя с такими изменениями и дополнениями.
            </p>
            <p>
                6.5. Администрация вправе переуступать либо иным способом передавать свои
                права и обязанности, вытекающие из его отношений с Пользователем, третьим
                лицам при условии соблюдения предусмотренных Законодательством Российской
                Федерации прав и интересов Пользователя.
            </p>
            <p>
                6.6. В случае нарушения Пользователем условий настоящей Оферты
                Администрация вправе заблокировать учетную запись Пользователя, а равно
                аннулировать аккаунт Пользователя с предварительным уведомлением по
                электронной почте либо в отсутствие такового.
            </p>
            <p>
                6.7. Администрация не обязана производить обновление и/или улучшение и/или
                усовершенствование и/или любое иное изменение Услуг. Вместе с тем,
                Администрация оставляет за собой право в любой момент и по любой причине
                изменять Услуги и/или функциональный состав Услуг, частично или полностью
                прекращать и/или приостанавливать оказание Услуг, определять возможности и
                ограничения использования Услуг, а также вводить и изменять возмездный
                порядок использования Услуг с обязательным предварительным уведомлением
                Пользователя о предстоящих изменениях за срок не менее чем 10 (Десять)
                календарных дней посредством Сайта.
            </p>
            <p>
                6.8. Сайт может содержать ссылки на другие ресурсы сети «Интернет».
                Акцептируя Оферту, Пользователь соглашается, что Администрация не несёт
                никакой ответственности за доступность этих ресурсов и за их контент, а
                также за любые последствия, связанные с использованием контента этих
                ресурсов.
            </p>
            <p>
                6.9. Администрация не несет ответственности за разглашение сведений,
                предоставленных Пользователем на страницах Сайта в общедоступной форме.
            </p>
            <p>
                <strong>7. </strong>
                <strong>
                    ПОРЯДОК РАЗМЕЩЕНИЯ ПРЕДЛОЖЕНИЙ, ОФОРМЛЕНИЯ И ИСПОЛНЕНИЯ ЗАКАЗОВ
                </strong>
            </p>
            <p>
                7.1. Продавец размещает Предложение на Сайте посредством заполнения
                специальной электронной формы, размещенной на Сайте по адресу:
                http://localhost:57074/offer/create.
            </p>
            <p>
                7.2. Любой Пользователь, прошедший Регистрацию на Сайте, вправе оформить
                Заказ на Предложение посредством нажатия виртуальной клавиши «Оплатить» в
                окне Предложения.
            </p>
            <p>
                7.3. В Личных кабинетах Продавца и Покупателя, подавшего заявку на
                приобретение Аккаунта данного Продавца, в разделе «Заказы», в таблице
                Заказов появляется Заказ со статусом «Покупатель оплачивает заказ».
            </p>
            <p>
                7.4. После оплаты Покупателем Заказа, статус Заказа меняется на «Поиск
                гаранта».
            </p>
            <p>
                7.5. Участие в Заказе принимает тот Гарант, который раньше остальных принял
                предложение Продавца/Покупателя об участии в конкретном Заказе.
            </p>
            <p>
                7.6. Для обеспечения участия Гаранта в исполнении Заказа Продавец обязан
                передать Гаранту следующую информацию: информацию для доступа к
                продаваемому в рамках данного Заказа Аккаунту, данные e-mail,
                дополнительную информацию.
            </p>
            <p>
                7.7. Гарант в рамках Заказа по продаже Аккаунта исполняет следующие
                обязанности:
            </p>
            <p>
                - получает от Продавца доступ к продаваемому в рамках Заказа Аккаунту;
            </p>
            <p>
                - получает от Продавца данные для доступа к Аккаунту: логин, пароль, данные
                для доступа email;
            </p>
            <ul>
                <li>
                    проверяет Аккаунт;
                </li>
                <li>
                    изменяет данные для доступа к Аккаунту;
                </li>
                <li>
                    передает Аккаунт Покупателю.
                </li>
            </ul>
            <p>
                - Передает деньги на личный счет Продавца, с вычетом стоимости Гаранта.
            </p>
            <p>
                7.8. Денежные средства в размере стоимости Аккаунта и услуг Гаранта
                перечисляются Гаранту до передачи Аккаунта Покупателю.
            </p>
            <p>
                7.9. После проверки Аккаунта и отсутствия к нему претензий Гарант
                перечисляет стоимость данного Аккаунта Продавцу с вычетом стоимости услуг
                Гаранта (в том случае, если Покупатель оплачивает Гаранта), а Аккаунт
                передает Покупателю.
            </p>
            <p>
                <strong>8. </strong>
                <strong>
                    УСЛОВИЯ КОНФИДЕНЦИАЛЬНОСТИ. ПРАВИЛА СБОРА И ИСПОЛЬЗОВАНИЯ ПЕРСОНАЛЬНЫХ
                    ДАННЫХ
                </strong>
            </p>
            <p>
                8.1. Акцептовав настоящую Оферту и пройдя процедуру Регистрации, а также
                осуществляя последующий доступ к Сайту, Пользователь подтверждает, что он,
                действуя своей волей и в своем интересе, передает свои персональные данные
                для обработки Администрации и согласен на их обработку. Пользователь
                уведомлен, что обработка его персональных данных будет осуществляться
                Администрацией Федерального закона №152-ФЗ от 27 июля 2006 года «О
                персональных данных», в связи с чем, Пользователь выдает согласие на
                обработку следующих персональных данных: фамилии, имени (если при
                регистрации указаны настоящие) и адреса электронной почты. В ходе обработки
                персональных данных будут совершены следующие действия: сбор, запись,
                систематизация, накопление, хранение, уточнение (обновление, изменение),
                извлечение, использование, распространение (передача, предоставление,
                доступ), обезличивание, блокирование, удаление, уничтожение.
            </p>
            <p>
                8.2. Пользователь выражает согласие на обработку, в том числе обработку с
                использованием средств автоматизации, и передачу, в том числе
                трансграничную передачу, любым третьим лицам по выбору Администрации, при
                условии, что между такими лицами и Администрацией заключен соответствующий
                договор, персональных данных Пользователя в целях их использования в
                интересах Пользователя при оказании Пользователю услуг технической
                поддержки, а также (в обезличенном виде) в статистических, маркетинговых и
                иных научных целях.
            </p>
            <p>
                8.3. Пользователь не возражает, что указанные им сведения в определенных
                случаях могут предоставляться уполномоченным государственным органам РФ в
                соответствии с действующим законодательством РФ (к таким случаям относятся
                исполнение Закона, предотвращение мошенничества или готовящегося
                преступления или обеспечение безопасности Сайта).
            </p>
            <p>
                8.4. Персональные данные Пользователя хранятся и обрабатываются
                Администрацией в порядке, предусмотренном настоящим Соглашением, в течение
                всего срока действия Соглашения и в течение 3 (Трёх) лет с момента его
                расторжения.
            </p>
            <p>
                8.5. Пользователь в любое время вправе отозвать свое согласие на сбор,
                обработку, хранение и передачу его Персональных данных. В таком случае,
                Стороны расторгают настоящее Соглашение в связи с отсутствием у
                Администрации возможности оказывать Пользователю Услуги.
            </p>
            <p>
                8.6. Предусмотренные настоящим Соглашением условия конфиденциальности
                распространяются на всю информацию, которую Администрация может получить о
                Пользователе во время пребывания последнего на Сайте и использования Сайта.
            </p>
            <p>
                8.7. Не является конфиденциальной информация, публично раскрытая Сторонами
                в ходе исполнения настоящего Договора, а также информация, которая может
                быть получена Сторонами или третьими лицами из источников, к которым
                имеется свободный доступ любым лицам.
            </p>
            <p>
                8.8. Администрация никогда не требует предоставления Пользователем
                какого-либо номера кредитной карты или пин-кода для кредитных или других
                денежных карт. В случае появления таких запросов (на Сайте или в виде
                электронных сообщений), Пользователю следует немедленно прекратить
                использование Сайта и сообщить об этом на контактные адреса Администрации,
                указанные в настоящем Соглашении.
            </p>
            <p>
                8.9. Администрация никогда не направляет Пользователю электронных запросов
                с просьбой указать, подтвердить или каким-либо иным образом сообщить
                Администрации указанный Пользователем при регистрации пароль. Пароль
                хранится в Сайте в зашифрованном виде.
            </p>
            <p>
                <strong>9. </strong>
                <strong>ЦЕНА, ПОРЯДОК И ФОРМА РАСЧЕТОВ</strong>
            </p>
            <p>
                9.1. Цену Договора составляет стоимость Предложения, выбранной
                Пользователем. Цены Предложений указываются на Сайте:
                http://localhost:57074/buy.
            </p>
            <p>
                9.2. Пользователь перечисляет денежные средства в размере стоимости
                выбранного Предложения, в порядке 100% предоплаты.
            </p>
            <p>
                9.3. Пользователи-нерезиденты перечисляют денежные средства в рублях
                Российской Федерации.
            </p>
            <p>
                9.4. Моментом оплаты считается поступление денежных средств на Личный
                баланс Гаранта.
            </p>
            <p>
                <strong>10. </strong>
                <strong>ОТВЕТСТВЕННОСТЬ СТОРОН</strong>
            </p>
            <p>
                10.1. Размер ответственности Администрации за ненадлежащее оказание Услуг
                по настоящему Договору ограничен путем установления предельной суммы
                убытков, подлежащих возмещению. Такая предельная сумма убытков не может
                превышать 100% (Ста процентов) от цены настоящего Договора. Администрация
                не несет ответственности за косвенные или опосредованные убытки, упущенную
                выгоду, потерю деловой репутации Пользователя и прочее.
            </p>
            <p>
                10.2. Администрация несет ответственность за хранение и обработку
                персональных данных Пользователя, обеспечивает конфиденциальность этих
                данных в процессе их обработки в соответствии с условиями настоящего
                Соглашения.
            </p>
            <p>
                10.3. Независимо и дополнительно к другим положениям настоящего Соглашения
                об ответственности Пользователя при использовании Услуг Администрации, к
                полной и исключительной ответственности Пользователя относятся:
            </p>
            <p>
                1.1.1. Ответственность за все отношения Пользователя с третьими лицами,
                возникшие в связи и/или в результате использования Услуг, включая
                ответственность Пользователя перед третьими лицами, вовлечёнными в частную,
                и/или коммерческую, и/или некоммерческую деятельность Пользователя с
                использованием Услуг Администрации, равно как ответственность Пользователя
                за его собственный ущерб и расходы, возникшие в результате взаимодействия
                Пользователя с третьими лицами в связи с использованием Услуг
                Администрации;
            </p>
            <p>
                1.1.2. Ответственность Пользователя за осуществление с помощью Сайта
                деятельности, запрещённой либо нарушающей законодательство Российской
                Федерации, а также деятельности, требующей наличия у Пользователя
                специального разрешения (лицензии) на осуществление такой деятельности, без
                получения и соблюдения условий таковой.
            </p>
            <p>
                10.4. Пользователь несет ответственность за любую информацию, которую
                размещает на Сайте, сообщает другим Пользователям, а также за любые
                взаимодействия с другими Пользователями, осуществляемые на свой риск.
            </p>
            <p>
                10.5. Администрация, если условиями отдельных Заказов не установлено иное,
                не является Исполнителем либо иным участником Заказов. Ответственность за
                действительность и исполнимость обязательств, касающихся выполнения
                Заказов, а равно за контент Лотов и Заказов, несут непосредственно лица,
                данный контент разместившие, единолично.
            </p>
            <p>
                <strong>11. </strong>
                <strong>ФОРС-МАЖОР</strong>
            </p>
            <p>
                11.1. Стороны освобождаются от ответственности за частичное или полное
                неисполнение своих обязательств по настоящему Соглашению, если их
                исполнению препятствует чрезвычайное и непредотвратимое при данных условиях
                обстоятельство (непреодолимая сила), как это определено Законодательством
                РФ. При этом срок исполнения обязательств по Договору отодвигается
                соразмерно времени, в течение которого действовали такие обстоятельства.
            </p>
            <p>
                11.2. Если обстоятельства, указанные в п. 12.1 настоящего Соглашения, будут
                продолжаться более 30 (Тридцати) календарных дней, то каждая из Сторон
                имеет право расторгнуть Соглашение, письменно уведомив другую Сторону за 10
                календарных дней до даты расторжения.
            </p>
            <p>
                <strong>12. </strong>
                <strong>ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</strong>
            </p>
            <p>
                12.1. В случае неисполнения или ненадлежащего исполнения обязательств по
                настоящему Договору Сторона, чье право нарушено, направляет письменную
                претензию (требование) другой Стороне.
            </p>
            <p>
                12.2. Сторона, получившая претензию от другой Стороны, обязана в течение 10
                (десяти) рабочих дней после получения претензии удовлетворить заявленные в
                претензии требования либо направить мотивированный отказ. К ответу должны
                быть приложены все необходимые документы.
            </p>
            <p>
                12.3. Извещения, претензии, запросы, заявления, сообщения и другие
                официальные материалы передаются Сторонами друг другу следующим образом:
            </p>
            <p>
                12.3.1. От Администрации Пользователю – посредством направления на адрес
                электронной почты, указанный Пользователем при Регистрации в Сайте или
                размещения на персональной странице Пользователя на Сайте, доступной только
                Пользователю, если иное не предусмотрено в соответствующем пункте
                настоящего Соглашения;
            </p>
            <p>
                12.3.2. От Пользователя Продавцу – в письменной форме посредством письма
                заказной почтой на фактический адрес Администрации, указанный в настоящей
                Оферте. Письменные обращения, направляемые Пользователем Администрации,
                должны быть подписаны Пользователем, а при наличии у Пользователя печати —
                скреплены печатью. Письменные обращения, не подписанные Пользователем,
                Администрацией к рассмотрению не принимаются.
            </p>
            <p>
                12.4. В случае если нарушившая Сторона не удовлетворяет требования,
                изложенные в претензии, в течение 10 (десяти) рабочих дней с даты получения
                претензии, и, таким образом, возникший спор не будет разрешен в
                претензионном порядке, Сторона, чье право нарушено, вправе обратиться с
                иском о взыскании в суд по месту нахождения Администрации в соответствии с
                действующим законодательством Российской Федерации.
            </p>
            <p>
                <strong>13. </strong>
                <strong>
                    СРОК ДЕЙСТВИЯ ОФЕРТЫ. ПРОЧИЕ УСЛОВИЯ И ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
                </strong>
            </p>
            <p>
                13.1. Настоящая Оферта вступает в силу в момент опубликования в сети
                «Интернет» по адресу: playerul.ru/help/publicoffer до момента
                отзыва/изменения Оферты Администрацией.
            </p>
            <p>
                13.2. Договор между Сторонами действует до момента прекращения
                Пользователем использования Сайта, либо до прекращения оказания Услуг
                Администрацией, либо до момента расторжения Сторонами Договора.
            </p>
            <p>
                13.3. Администрация вправе инициировать расторжение настоящего Соглашения и
                прекратить действие заказов на конкретные Услуги в одностороннем порядке в
                случае нарушения Пользователем условий настоящего Договора.
            </p>
            <p>
                13.4. В случае заключения Договора (оформления акцепта настоящей Оферты) в
                письменном виде, расторжение Договора в одностороннем порядке одной из
                Сторон производится при условии получения соответствующего письменного
                заявления другой Стороной.
            </p>
            <p>
                13.5. Администрация имеет право в одностороннем порядке расторгнуть
                настоящий Договор в случаях и порядке, предусмотренном действующим
                законодательством РФ.
            </p>
            <p>
                13.6. Договор может быть расторгнут в любой момент по соглашению Сторон.
            </p>
            <p>
                13.7. Расторжение настоящего Соглашения является одновременно расторжением
                всех Дополнительных соглашений к нему и основанием для прекращения
                предоставления всех Услуг.
            </p>
            <p>
                13.8. В случае расторжения настоящего Договора, Администрация обязуется
                вернуть Пользователю неиспользованный им авансовый платеж в течение 10
                (Десяти) банковских дней с момента поступления от Пользователя требования о
                возврате денежных средств. Денежные средства Пользователю выдаются из кассы
                Администрации, либо перечисляются на указанный Пользователем лицевой счет,
                при этом требование на возврат денежных средств должно быть направлено
                Пользователем в письменном виде. Возврат денежных средств Пользователю из
                кассы Администрации осуществляется в офисе Администрации (при условии
                дополнительного согласования времени прибытия представителя Пользователя по
                электронной почте) после предъявления Пользователем документа,
                удостоверяющего личность, и документа, подтверждающего произведенную ранее
                оплату неиспользованного аванса.
            </p>
            <p>
                13.9. Принимая условия настоящей Оферты, Пользователь выражает свое
                согласие на получение информации, касающейся работы Сайта (новости,
                мероприятия, объявления, информация рекламного характера и т.п.) независимо
                от срока действия настоящего Соглашения с условием того, что такое согласие
                может быть отозвано Пользователем в любой момент по дополнительному
                обращению к Администрации.
            </p>
            <p>
                13.10. Все вопросы, не урегулированные настоящим Соглашением, решаются в
                соответствии с действующим законодательством Российской Федерации.
            </p>

        </div>
    </div>
</div>

