@{
    ViewBag.Title = "UpdateEmail";
}


<div class="text-center">
    <div class="alert alert-danger  success-block">
        <p class="line-height-40">
            <span>Сперва вы должны подтвердить почту и номер телефона. @Html.ActionLink("Перейдите сюда", "settings", "account")</span>

        </p>
    </div>
</div>


