@model Market.Web.ViewModels.SearchOffersInfoViewModel
@{
    ViewBag.Title = "Buy";
}
<div class="test">
    <div class="loader" id="loader">
            <div class="loader-wheel"></div>



    </div>
</div>

<div class="container">
    <div class="buy-content">
        <a id="game-title"></a>
        <div id="list">

        </div>
        @{var game = Model.Game == null ? "csgo" : Model.Game; }
        <input type="hidden" name="Game" id="game" value="@Model.Game" />
        <input type="hidden" name="Page" id="page" value="@Model.Page" />
        <input type="hidden" name="SearchString" id="searchString" value="@Model.SearchString" />
    </div>
    

</div>

<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
@section scripts
{
    

    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

    <script type="text/javascript" src="~/Scripts/Custom.js"></script>

}