@model string
@{
    ViewBag.Title = "Buy";
}
<div class="test">
    <div class="loader" id="loader">
        <div class="cssload-container">
            <div class="cssload-whirlpool"></div>

        </div>

    </div>
</div>

<div class="container">
    <div class="buy-content">
        <a id="game-title"></a>
        <div id="list">

        </div>
        @{var game = Model == null ? "csgo" : Model; }
        <input type="hidden" name="Game" id="game" value="@game" />
    </div>
        

</div>

<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
@section scripts
{
    

    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

    <script type="text/javascript" src="~/Scripts/Custom.js"></script>

}