@{
    ViewBag.Title = "Превышен лимит предложений";
}

<div class="text-center">
    <div class="alert alert-danger  success-block">
        <p class="line-height-40">
            <span>Вы можете разместить не более 10 активных предложений</span>
        </p>
    </div>
</div>

