@{
    ViewBag.Title = "Ваше предложение было деактивировано";
}

<div class="text-center">
    <div class="alert alert-success  success-block">
        <p class="line-height-40">
            <span>Ваше предложение было деактивировано</span>

        </p>
    </div>
</div>


