@{
    ViewBag.Title = "Ваше предложение было удалено";
}


<div class="text-center">
    <div class="alert alert-dismissible alert-success  success-block">
        <p class="line-height-40">
            <span>Ваше предложение было удалено</span>

        </p>
    </div>
</div>


