
@{
    ViewBag.Title = "Благодарим за подтверждение электронной почты";
}


<div class="text-center">
    <div class="alert alert-warning  success-block">
        <p class="line-height-40">
            <span>Для продажи аккаунтов нужно привязать номер телефона. @Html.ActionLink("Щелкните здесь для привязки", "AddPhoneNumber", "Account", routeValues: null, htmlAttributes: new { @class = "alert-link" })</span>

        </p>
    </div>
</div>

