@model Market.Web.ViewModels.LockoutUserViewModel

@{
    ViewBag.Title = "LockoutUserAsync";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("LockoutUserAsync", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.UserId);
            <div class="form-group">

                @Html.TextBoxFor(m => m.LockoutReason, new { @class = "form-control form-control-md", placeholder = "Причина бана" })

            </div>

            <input type="submit" value="Заблокировать" class="btn btn-submit" />
        }
    </div>
</div>


