
@{
    ViewBag.Title = "Panel";
}

<h2>Panel</h2>

@Html.ActionLink("Добавить игру", "Create", "Game")
@Html.ActionLink("Добавить Фильтр", "Create", "Filter")
@Html.ActionLink("Добавить элемент фильтра", "Create", "FilterItem")
@Html.ActionLink("Посмотреть Игры -> Фильтры -> Элементы фильтров", "Details", "FilterItem")