@{
    ViewBag.Title = "AccountMenu";
    Layout = null;
}

<ul class="account-inner-list" id="account-inner-list">
    <li class="account-inner-menu-item">@Html.ActionLink("Все", "All", "feedback", null, new { @class = "account-inner-menu-link" })</li>
    <li class="account-inner-menu-item">@Html.ActionLink("Позитивные", "Positive", "feedback", null, new { @class = "account-inner-menu-link" })</li>
    <li class="account-inner-menu-item">@Html.ActionLink("Негативные", "Negative", "feedback", null, new { @class = "account-inner-menu-link" })</li>
</ul>
