

        <div class="inner">
            <p>
                Сервис PalyerUp предназначен для безопасной покупки и продажи игровых аккаунтов. Сделка 
                проходит через гаранта. Таким образом после сделки продавец получает деньги, 
                а покупатель - рабочий аккаунт.
            </p>
        </div>


