
<ul class="inner">
    <li>
        <a href="#" class="toggle">Как проходит продажа?</a>
        <div class="inner">
            <p>
                <ol class="ol-help">
                    <li>Покупатель оплачивает товар</li>
                    <li>Создается заказ (Ордер). Заказы отображаются при нажатии на колокольчик сверху сайта</li>
                    <li>За заказом закрепляется гарант (в течении 30-60 минут)</li>
                    <li>Продавец переходит в "Заказы" и нажимает "Предоставить данные"</li>
                    <li>Гарант проверяет возможность входа на аккаунт, сверяет информацию на аккаунте и в описании предложения</li>
                    <li>Если все в порядке, гарант меняет логин, пароль и почту аккаунта и передает эти данные покупателю</li>
                    <li>Покупатель Заходит на аккаунт и смотрит все ли в порядке</li>
                    <li>Покупатель подтверждает получение</li>
                    <li>Продавец получает деньги</li>
                </ol>
                
                
                
                
                
                
                
                
                
            </p>
        </div>
    </li>
    <li>
        @*<a href="#" class="toggle">Какие комиссии на сайте?</a>
        <div class="inner">
            <p>
                
            </p>
        </div>*@

    </li>
    <li>
        <a href="#" class="toggle">Куда зачисляются деньги при продаже?</a>
        <div class="inner">
            <p>
                Деньги зачисляются на ваш счет на сайте. Баланс вашего счета отобрадается сверху возле аватара.
            </p>
        </div>
    </li>

    <li>
        <a href="#" class="toggle">Как выставить аккаунт на продажу?</a>
        <div class="inner">
            <p>
                Это можно сделать перейдя по ссылке "Продать" вверху сайта или на ссылку "Продать аккаунт" над списком предложений.
                Для размещения аккаунта на продажу вам сперва нужно подтвердить почту и телефон.
            </p>
        </div>
    </li>

</ul>













