
<ul class="inner">
    <li>
        <a href="#" class="toggle">Как проходит покупка?</a>
        <div class="inner">
            <p>

                <ol class="ol-help">
                    <li>Покупатель нажимает кнопку "Купить", подтверждает оплату, и деньги приходят на счет гаранта</li>
                    <li>Создается заказ (Ордер). Заказы отображаются при нажатии на колокольчик сверху сайта</li>
                    <li>За заказом закрепляется гарант (в течении 30-60 минут)</li>
                    <li>Продавец передает логин, пароль и почту гаранту</li>
                    <li>Гарант проверяет возможность входа на аккаунт, сверяет информацию на аккаунте и в описании предложения</li>
                    <li>Если все в порядке, гарант меняет логин, пароль и почту аккаунта и передает эти данные покупателю</li>
                    <li>Покупатель Заходит на аккаунт и смотрит все ли в порядке</li>
                    <li>Покупатель подтверждает получение в Заказе (ордере) нажав на колокольчик сверху и прейдя в нужный заказ</li>
                    <li>Продавец получает деньги</li>
                </ol>
            </p>
        </div>
    </li>
    <li>
        <a href="#" class="toggle">Сколько стоит гарант?</a>
        <div class="inner">
            <p>
                Стоимость гаранта отображается в предложении.
            </p>
        </div>
    </li>
    <li>
        <a href="#" class="toggle">Кто оплачивает гаранта?</a>
        <div class="inner">
            <p>
                Информация о том, кто оплачивает гаранта отображается в предложении.
            </p>
        </div>

    </li>
    <li>
        <a href="#" class="toggle">В каких случаях покупателю возвращаются деньги?</a>
        <div class="inner">
            <p>
                Покупателю возвращаются деньги, если:
                <ul class="ul-circle">
                    <li>Сделка была прервана</li>
                    <li>Гарант не смог зайти на аккаунт пользователя</li>
                    <li>При проверке аккаунта гарантом были выявлены несоответствия аккаунта с описанием (другой рейтинг, уровень и т.д.)</li>
                </ul>
            </p>
        </div>
    </li>


</ul>












