
<ul class="inner">

    <li>
        <a href="#" class="toggle">Какие этапы (статусы) может включать в себя сделка?</a>
        <div class="inner">
            <p>
                Сделка может включать в себя следующие этапы:
                <ol class="ol-help">
                    <li>Заказ создан</li>
                    <li>Покупатель оплачивает заказ</li>
                    <li>Продавец предоставляет информацию</li>
                    <li>Гарант проверяет информацию</li>
                    <li>Покупатель подтверждает получение</li>
                    <li>Отправка средств продавцу</li>
                    <li>Сделка закрыта успешно</li>
                    <li>Покупатель закрыл сделку ранее</li>
                    <li>Продавец закрыл сделку ранее</li>
                    <li>Гарант закрыл сделку ранее</li>
                    <li>Сделка была закрыта автоматически</li>
                </ol>
            </p>
        </div>
    </li>
    <li>
        <a href="#" class="toggle">В каких случаях сделка будет прервана?</a>
        <div class="inner">
            <p>
                Сделка будет прервана, если:
                <ul class="ul-circle">
                    <li>Покупатель закрыл сделку</li>
                    <li>Продавец закрыл сделку</li>
                    <li>Гарант закрыл сделку</li>
                    <li>Гарант не смог зайти на аккаунт пользователя</li>
                    <li>При проверке аккаунта гарантом были выявлены несоответствия аккаунта с описанием (другой рейтинг, уровень и т.д.)</li>
                    При каких либо других проблемах гарант может закрыть сделку.
                    В случае закрытия сделки средства возвращаются продавцу.
                </ul>
            </p>
        </div>
    </li>

    <li>
        <a href="#" class="toggle">Как следить за этапами сделки?</a>
        <div class="inner">
            <p>
                За сделками можно следить нажав на колокольчик вверху сайта. Там есть два вида сделок:
                <ul class="ul-circle">
                    <li>Там где вы покупатель</li>
                    <li>Там где вы продавец</li>
                </ul>
            </p>
        </div>
    </li>

    <li>
        <a href="#" class="toggle">Что будет если покупатель не подтвердит получение?</a>
        <div class="inner">
            <p>
                Если покупатель не подтвердит получение в течении 48 часов после сделки, то получение подтвердится автоматически.
            </p>
        </div>
    </li>

</ul>














