
<ul class="inner">
    <li>
        <a href="#" class="toggle">Как работает система отзывов?</a>
        <div class="inner">
            <p>
                После сделки пользователю можно оставить отзыв перейдя в заказ. Там будет кнопка "Оставить отзыв". Оставить отзыв можно только после завершения сделки.
            </p>
        </div>
    </li>
    <li>
        <a href="#" class="toggle">Как начисляется рейтинг?</a>
        <div class="inner">
            <p>
                Рейтинг считается следующим образом: Рейтинг = (Позитивные отзывы - Негативные отзывы)
            </p>
        </div>
    </li>
    <li>
        <a href="#" class="toggle">Что дает мне рейтинг?</a>
        <div class="inner">
            <p>
                Чем выше рейтинг, тем выше ваше предложение в списке.
            </p>
        </div>

    </li>


</ul>















