<tr style="background-color:greenyellow" class="" id="2">

    <td>feferrege</td>
    <td>tretetert</td>
    @*<td>@messageGroup.</td>*@
    <td>tretertertertet</td>
    <td></td>
    <td><input type="submit" value="remove ajax" id="messageGroup.Id" /></td>
    <td>@Html.ActionLink("Remove", "Delete", new {  }, null)</td>
    <td>@Html.ActionLink("Chat", "Info", new {  }, null)</td>
    @*<td style="color:red">@Html.ActionLink("X", "DeleteStory", new { lastMessageId = messageGroup.FirstOrDefault().Id}, null)</td>*@
</tr>
