@using System.Globalization

@model Market.Web.ViewModels.OfferListViewModel

<div class="row">
    
        @Html.Partial("_SearchPanel", Model.SearchInfo)
        @Html.Partial("_OfferBlock", Model.Offers)
    
    
</div>
