@using System.Globalization
@using Market.Web.Helpers

@model Market.Web.ViewModels.OfferListViewModel



@*@Html.Partial("_SearchPanel", Model.SearchInfo)*@

<div id="offer-block">

    @Html.Partial("_OfferBlock", Model)


</div>

<div class="col-lg-3"></div>
<div class="col-lg-9">
    @if (Model.Offers.Count() != 0)
    {
        @Html.PagedListPager(Model.PageInfo, "SelectPage")
    }

</div>


