@model IEnumerable<Market.Web.ViewModels.OfferViewModel>
<div class="col-lg-9" id="list">

    <div class="bs-component">
        <div class="row mb-3 sort">
            <div class="col-md-5 sort-counter">
                Найдено предложений: <span style="font-weight:700">@Model.Count()</span>
            </div>
            <div class="col-md-5">
                <select class="form-control" id="sort" onchange="SearchOffers();">
                    <option value="bestSeller" selected="selected">Лучшие продавцы</option>
                    <option value="priceDesc">От дорогих к дешевым</option>
                    <option value="priceAsc">От дешевых к дорогим</option>
                    <option value="newestOffer">Самые новые</option>
                </select>
                @* @Html.DropDownList("OrderBy", Model.SearchingInfo.OrderByList, new { @class = "form-control", onchange = "submitSort(value);" })*@
            </div>
            <div class="col-md-2">
                @{
                    var currencyList = new List<SelectListItem>() {
                                                                                                        new SelectListItem()
                                                                                                        {
                                                                                                            Text = "USD",
                                                                                                            Value = "USD",
                                                                                                            Selected = true
                                                                                                        },
                                                                                                        new SelectListItem()
                                                                                                        {
                                                                                                            Text = "RUR",
                                                                                                            Value = "RUR"
                                                                                                        },
                                                                                                        new SelectListItem()
                                                                                                        {
                                                                                                            Text = "EUR",
                                                                                                            Value = "EUR"
                                                                                                        }
                                                                                                    };
                }

                @Html.DropDownList("currency", currencyList, new { @class = "form-control", onchange = "submitAjaxForm(1);" })
            </div>
        </div>



        <div class="row">
            @foreach (var offer in Model)
            {
                @Html.Partial("_offerItem", offer)
                
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                @*@Html.PageLinks(Model.PagingInfo)*@
            </div>
        </div>
    </div>

</div>
