@using System.Globalization
@using Market.Web.Helpers

@model Market.Web.ViewModels.OfferListViewModel

<div class="row">
    
        @Html.Partial("_SearchPanel", Model.SearchInfo)
        @Html.Partial("_OfferBlock", Model.Offers)
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
        @Html.PagedListPager(Model.PageInfo, "SelectPage")
        
    </div>
</div>
