@using System.Globalization
@using Market.Web.Helpers

@model Market.Web.ViewModels.OfferListViewModel



@*@Html.Partial("_SearchPanel", Model.SearchInfo)*@

<div id="offer-block">

    @Html.Partial("_OfferBlock", Model)


</div>




