@model Market.Web.ViewModels.OfferListViewModel

<div class="bs-component">    
    @if (Model.Offers.Count() != 0)
    {
        <div class="row mb-3 sort">
            <div class="col-md-7 sort-counter">
                <h4 class="mb-0 font-weight-light"> Найдено предложений: <span style="font-weight:700">@Model.PageInfo.TotalItems</span></h4>
            </div>
            <div class="col-md-5">
                <select class="custom-select" id="sort" onchange="SearchOffers();">
                    <option value="bestSeller">Лучшие продавцы</option>
                    <option value="priceDesc">От дорогих к дешевым</option>
                    <option value="priceAsc">От дешевых к дорогим</option>
                    <option value="newestOffer">Самые новые</option>
                </select>
            </div>
        </div>
        <div class="row">
            @foreach (var offer in Model.Offers)
            {
                @Html.Partial("_offerItem", offer)

            }
            <div class="col-md-12">
                @Html.PagedListPager(Model.PageInfo, "SelectPage")
            </div>
        </div>
    }

    else
    {
        <div class="row">
            <div class="mt-5 col-md-12 text-center">
                Нет результатов
            </div>
        </div>
    }

</div>