
ul li a.toggle {
    width: 100%;
    display: block;
    background: #fff;
    color: #000000;
    box-shadow: 0 0 6px 0 #d4d4d4;
    margin-bottom: 10px;
    padding: .75em;
    border-radius: 10px;
    transition: background .3s ease;
}

    ul li a.toggle:hover {
        background: #fbfbfb;
    }
