body {
    padding-top: 80px
}
.test{
    position:absolute;
    width:100%;
    height:100%;
}

.content{
    margin-top: 40px
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #b94a48;
}

.valid {
    border: 1px solid #53b02c;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px
}

.navbar-nav{
    margin-left: 40px
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1000px;
}


.image-select {
    position: relative;
    font-family: Arial;
}

    .image-select select {
        display: none; /*hide original SELECT element:*/
    }

.select-selected {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px
}
    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: absolute;
        content: "";
        top: 22px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #212529 transparent transparent transparent;
    }
    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #212529 transparent;
        top: 15px;
    }
/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    padding: 8px 16px;
    
        height: 50px;
    line-height: 2;
    cursor: pointer;
    user-select: none;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/*-------------------Custom------------------------*/




body {
    background-color: #fbfbfb
}

ul {
    list-style-type: none;
}

.bg-primary {
    background-color: #333 !important;
}

.img-circle {
    margin-right: 10px;
    border: 0px;
    border-radius: 100px;
}

.avatar-small {
    width: 40px;
    height: 40px
}

.avatar-big {
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 10px
}

.navbar {
    padding: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.21);
    position: absolute
    /*border-bottom: 1px solid #bababa*/
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.btn-sell {
    background-color: #62b2e2;
    font-weight: 700;
    color: #fff;
    margin-right: 15px
}

.img-messages {
    width: 32px;
    margin-right: 15px
}

.filter {
    color: #a5a5a5;
    font-size: 14px;
    padding: 15px
}

.filter-body {
    padding-top: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e4e4e4
}

.filter-specific {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.filter-label {
    color: #404040;
    font-weight: 700
}

.filter-price-from {
    width: 100px;
    float: left;
    font-weight: 700
}

.filter-price-to {
    width: 100px;
    float: left;
    font-weight: 700
}

.filter-price-separartor {
    width: 17px;
    float: left;
    text-align: center;
    line-height: 30px
}

.filter-price {
    height: 30px;
}

.sort {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 26px;
}

.sort-counter {
    font-size: 18px;
    font-weight: 300
}

.custom-control {
    line-height: 24px;
    margin-bottom: 7px;
}

.game-filter {
    width: 100%;
    height: 84px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    border-style: solid;
    border-color: #D2D2D2;
    border-bottom-width: 1px;
}

.game-filter-item {
    width: 60px;
    height: 100%;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.all-games {
    font-weight: 700;
    font-size: 18px;
    color: #333
}

.game-filter-item.active, .game-filter-item.all-games.active {
    webkit-box-shadow: inset 0px -5px 0px 0px #62b2e2;
    box-shadow: inset 0px -5px 0px 0px #62b2e2;
}

.game-filter-item:focus, .game-filter-item.all-games:focus {
    webkit-box-shadow: inset 0px -5px 0px 0px #62b2e2;
    box-shadow: inset 0px -5px 0px 0px #62b2e2;
}

.offer-full-block {
    padding: 15px;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 0 3px 0 rgba(159,173,196,.4);
    border-radius: 15px;
}

.seller-details {
    width: 180px;
    float: left;
    text-align: center;
    margin-right: 15px;
}

.offer-details {
    max-width: 450px;
    float: left;
    min-height: 270px;
    border-left: 1px solid #eee
}

.ul-seller-info {
    padding-left: 0px;
}

.ul-details {
    text-align: left;
    margin-bottom: 30px
}

.li-details {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
}

.offer-full li label {
    color: #8A8C91;
    width: 250px;
    vertical-align: middle;
    float: left;
}

.offer-description {
    margin-top: 30px
}

.offer-details-rank {
    padding-left:0px;

    text-align: center;
}

.feed-item {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #f5f5f5;
    margin-bottom: 10px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.feed-item-header {
    width: 100%;
    color: #a9a9a9;
}

.feed-item-comment {
    width: 100%;
    margin-top: 5px
}
.feed-item-info {
    padding-top: 5px
}

.feed-item-icon {
    margin-right: 10px;
    float: left
}

.feed-item-line {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px
}

.feed-item-date {
    width: auto;
    margin-right: 10px;
    font-size: small
}

.feed-item-leftby {
    width: auto;

    font-size: small
}

.feed-count-label {
    font-weight: 700
}
.account-list {
    padding-left: 0px;
    height: 44px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    display: flex;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}

.account-inner-list {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-left: 0px;
    display: inline;
    margin-bottom: 0px;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #e9eaea;
    font-size: 14px;
    z-index: 2
}

.account-menu-item {
    
    color: #a2d7ff;
    display: inline;
    padding: 10px 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fbfbfb;
    margin-right: 10px;
    border-left: 1px solid #eff0f4;
    border-right: 1px solid #eff0f4;
    border-top: 1px solid #eff0f4;
    border-bottom: 1px solid #eff0f4;
    position: relative;
}

.account-inner-menu-item {
    display: inline;
    padding: 15px 25px
}

.account-inner-menu-link {
    color: rgba(51, 51, 51, 0.5);
    font-weight: 700
}

.account-menu-item.active {
    color: #71b1ff;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-left: 1px solid #eff0f4;
    border-right: 1px solid #eff0f4;
    border-top: 1px solid #eff0f4;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

.account-inner-menu-link.active {
    color: #333;
}

.account-offer-container {
    background-clip: border-box;
    border: 1px solid #eff0f4;
    z-index: 1;
    border-radius: 6px;
}

.account-setting-container {
    background-clip: border-box;
    border: 1px solid #eff0f4;
    background-color: #fff;
    z-index: 1;
    padding: 20px 35px;
    border-radius: 6px;
}

.account-message-container {
    background-clip: border-box;
    border: 1px solid #eff0f4;
    z-index: 1;
    border-radius: 6px;
}

.account-info-container {
    background-clip: border-box;
    border: 1px solid #eff0f4;
    background-color: #fff;
    z-index: 1;
    border-radius: 6px;
}

.page-info {
    padding-top: 20px;
    padding-bottom: 30px
}

.message-div {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 70px;
}

    .message-div.my {
        margin-left: 70px;
        margin-right: 0px;
    }

.message-story {
    margin: 10px 40px
}

.message-body {
    border-radius: 6px;
    padding: 10px;
    background-color: whitesmoke
}

.message-body-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
}

.message-body-text {
    align-content: center;
    font-size: 14px
}

.user {
    font-weight: 700;
    margin-right: 10px;
}

.date {
    color: darkgray
}

.message-body.my {
    background-color: #d8e9fa
}





div#users-contain {
    width: 350px;
    margin: 20px 0;
}

    div#users-contain table {
        margin: 1em 0;
        border-collapse: collapse;
        width: 100%;
    }

        div#users-contain table td, div#users-contain table th {
            border: 1px solid #eee;
            padding: .6em 10px;
            text-align: left;
        }

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

.message-info {
    border-bottom: 1px solid #e9eaea;
    padding: 15px 20px 20px 20px;
}

.message-text {
    padding: 20px;
}

.message-new {
    padding: 20px;
}

.icon {
    padding: 1px;
    height: 50px;
    width: 50px;
}

.remove-icon {
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(0.3);
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.remove-link {
}

.remove-icon:hover {
    filter: opacity(1);
}

.clickable {
    cursor: pointer
}

.set-viewed-icon {
    background-color: #62b2e2;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.set-not-viewed-icon {
    border: 1px solid #62b2e2;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.set-viewed-icon:hover {
    background-color: rgba(98, 178, 226, 0.42);
}

.set-viewed-link {
}

.set-viewed:hover {
    cursor: pointer;
    filter: opacity(0.4);
}

.set-viewed-td {
    max-width: 10px;
    padding-right: 0px;
}

.sender-table {
    color: #007bff;
}

.message-body td {
}

.date-table {
    text-align: right
}

.remove-table {
    text-align: right
}

.form-message-filter {
    padding: 20px;
}

.form-message-filter-item {
    margin-right: 20px
}



/*----------------------------------------------*/

.btn-search {
    border-radius: 50px;
    background-color: #62b2e2;
    color: white;
    padding: 6px 20px;
    font-size: 18px;
    font-weight: 300
}

.btn-reset {
    border-radius: 50px;
    background-color: #e98451;
    padding: 6px 20px;
    color: white;
    font-size: 18px;
    font-weight: 300
}



.loader {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-bottom: -20px;
    padding-top: -150px;
    opacity: 0;
    background-color: #636363;
    box-shadow: 0 0 12px 0 #404040;
}
.hidden {
    opacity: 1;
}

/*Loader for offerList*/


.cssload-container {
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid rgb(204,204,204);
    border-left-color: rgb(0,0,0);
    border-radius: 2373px;
    -o-border-radius: 2373px;
    -ms-border-radius: 2373px;
    -webkit-border-radius: 2373px;
    -moz-border-radius: 2373px;
}

.cssload-whirlpool {
    margin: -59px 0 0 -59px;
    height: 119px;
    width: 119px;
    animation: cssload-rotate 1900ms linear infinite;
    -o-animation: cssload-rotate 1900ms linear infinite;
    -ms-animation: cssload-rotate 1900ms linear infinite;
    -webkit-animation: cssload-rotate 1900ms linear infinite;
    -moz-animation: cssload-rotate 1900ms linear infinite;
}

    .cssload-whirlpool::before {
        content: "";
        margin: -55px 0 0 -55px;
        height: 105px;
        width: 105px;
        animation: cssload-rotate 1900ms linear infinite;
        -o-animation: cssload-rotate 1900ms linear infinite;
        -ms-animation: cssload-rotate 1900ms linear infinite;
        -webkit-animation: cssload-rotate 1900ms linear infinite;
        -moz-animation: cssload-rotate 1900ms linear infinite;
    }

    .cssload-whirlpool::after {
        content: "";
        margin: -69px 0 0 -69px;
        height: 133px;
        width: 133px;
        animation: cssload-rotate 3800ms linear infinite;
        -o-animation: cssload-rotate 3800ms linear infinite;
        -ms-animation: cssload-rotate 3800ms linear infinite;
        -webkit-animation: cssload-rotate 3800ms linear infinite;
        -moz-animation: cssload-rotate 3800ms linear infinite;
    }



@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

.btn-currentpage {
    color: #fff;
    background-color: #62b2e2;
    border-color: #62b2e2;
    margin-right: 7px
}

.btn-default {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: #333;
    margin-right: 7px
}

.btn-submit {
    color: #fff;
    background-color: #62b2e2;
    border-color: #62b2e2;
    margin-right: 7px
}

.table-white{
    background-color: #fff
}

.nav-item .message{
    padding-top: 8px
}

.nav-item .notice {
    padding-top: 8px
}

.current{
    background-color: aquamarine
}

.offer-description-block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(159,173,196,.4);
    border-radius: 15px;
}

.block-label{
    padding-top: 20px;
    padding-left: 30px;
    color: #a9a9a9
}

.block-body {
    padding-top: 20px;
    padding-left: 20px;
    
}

.label-details {
    min-width: 200px;
    margin-bottom: 0px;
    color: #a9a9a9
}

.main-block{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
    margin-top: 60px;
    margin-bottom: 30px
}

.positive-feedback{
    background-image:url(Images/smile-pos.png);
    width: 16px
}

.offer-list{
    margin-top: 30px
}

.game-title{
    font-size: 22px;
    color:#a9a9a9;
    font-weight: 300
}

.btn-link-sell {
    border: 1px solid #62b2e2;
    color: #62b2e2;
    float: right
}

.btn-link-sell:hover {
    border: 1px solid #62b2e2;
    background-color:#62b2e2;
    color: #fff;
    
}

.info-user-block {
    padding: 25px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(159,173,196,.4);
    border-radius: 15px;
}

.info-teble-content {
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid #eff0f4;
    border-left: 1px solid #eff0f4;
    border-right: 1px solid #eff0f4;
    border-bottom: 1px solid #eff0f4;
}

.table-offers {
    padding: 0 40px 26px 40px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.offer-game{
    width: 33%
}

.offer-header{
    width: 33%
}

.offer-price{
    width: 20%
}

.offer-link {
    width: 14%;
    text-align: right;
}

.offer-line {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff0f4;
    padding: 10px 0;
}

.offer-filter {
    padding: 40px;
    background-color: white;
    border-top-right-radius: 15px;
}



/*+++Feedback List Item*/

.feedback-filter {
    padding: 20px;
    background-color: white;
    border-top-right-radius: 15px;
}

.table-feedbacks {
    padding: 0 28px 26px 28px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.feedback-line {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff0f4;
    padding: 10px 0;
}

.feedback-grade{
    width: 10%
}

.feedback-comment {
    width: 45%
}

.feedback-sender {
    width: 25%
}

.feedback-date {
    width: 20%;
    text-align: right
}
/*---Feedback List Item*/

.text-gray{
    color: #a9a9a9
}

.info-list {
    padding-left: 0px;
    height: 44px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    display: flex;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}

.info-menu-item {
    color: #a2d7ff;
    display: inline;
    padding: 10px 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fbfbfb;
    margin-right: 10px;
    border-left: 1px solid #eff0f4;
    border-right: 1px solid #eff0f4;
    border-top: 1px solid #eff0f4;
    border-bottom: 1px solid #eff0f4;
    position: relative;
}

    .info-menu-item.active {
        color: #71b1ff;
        background-color: #fff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-left: 1px solid #eff0f4;
        border-right: 1px solid #eff0f4;
        border-top: 1px solid #eff0f4;
        border-bottom: 1px solid #ffffff;
        position: relative;
    }
.info-name{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.info-name-nick{
    font-size: 18px;
    text-align: left
}

.info-name-contact {
    text-align:right
}

.btn-contact{
    color:#62b2e2;
   
    border: 1px solid #62b2e2;
    background-color: transparent

}

.user-info-feedbackscore{

}

.info-rate-date {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.info-rate{
    text-align: left
}

.info-date{
    text-align: right;
    font-size: 12px;
    font-weight: 300
}

.icon-success {
    background: url(Images/success.png) top left no-repeat;
}

.icon-total-reviews {
    background: url(Images/total-reviews.png) top left no-repeat;
}

.icon-smile-pos-dark {
    background: url(Images/smile-pos-dark.png) top left no-repeat;
}

.icon-smile-neg-dark {
    background: url(Images/smile-neg-dark.png) top left no-repeat;
}

.icon-smile-pos-green {
    background: url(Images/smile-pos-green.png) top left no-repeat;
}

.icon-smile-neg-gray {
    background: url(Images/smile-neg-gray.png) top left no-repeat;
}

i {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 16px
}

.info-rate-label {
    font-size: 14px;
    line-height: 100%;
}

.ul-info-rate{
    padding-left: 0px;
}

.li-info-rate{
    padding: 10px 0px;
}

.icon-info-rate{
    margin-right: 5px
}

.info-feedbacks {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.page-container{
    margin-top: 20px;
    margin-bottom: 20px
}

.user-info-title{
    margin-bottom: 20px;
    font-size: 18px
}

.feedbacks-counter {
    font-size: 20px;
    line-height: 100%;
}

.user-info-content{
    margin-top: 60px
}
.buy-content {
    margin-top: 120px
}

.text-700 {
    font-weight: 700
}

.btn-buy {
    border-radius: 10px;
    background-color: #62b2e2;
    color: white;
    
    width: 60%
}

.btn-buy:hover {
    border-radius: 10px;
    background-color: rgba(98, 178, 226, 0.80);
    color: white;
    width: 60%
}

.btn-details {
    border-radius: 10px;
    background-color: #bfbfbf;
    color: white;
    width: 60%
}



    .btn-details:hover {
        border-radius: 10px;
        background-color: rgba(169, 169, 169, 0.60);
        color: white;
        width: 60%
    }

.footer-left {

    width: 40%;
}

.footer-center {
    width: 40%;
}

.footer-right{
    width: 20%
}

dl dt {
    font-weight: 700;

    padding-bottom: 16px;
    font-size: 26px
}
dl dd a{
    font-size: 14px;
    color: #333
}
    /*\e60b === \e605*/

.order-details-container {
    background-clip: border-box;
    border: 1px solid #eff0f4;
    background-color: #fff;
    z-index: 1;
    border-radius: 6px;
}


.order-details-head {
    padding: 20px
}
.order-details-body{
    padding: 20px
}

.warning-row{
    background-color: #ffcc9a
}

.orders-count {
    border-radius: 0px;
    margin-left: 15px;
    border: 2px solid #fff;
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    width: 19px;
    height: 19px;
    color: white;
    text-align: center;
    border-radius: 50px;
    background-color: #ff4e4e;
}

.messagess-count {
    border-radius: 0px;
    margin-left: 15px;
    border: 2px solid #fff;
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    width: 18px;
    height: 18px;
    color: white;
    text-align: center;
    border-radius: 50px;
    background-color: #ff4e4e;
}

.page-header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.help-content{
    margin-top: 80px;
    
}


.ul-circle {
    list-style-type: circle;
    padding-left: 2rem
}

.ol-help {
    padding-left: 2rem
}

.details-user-block {
    text-align: center;
    height: 300px;
    padding: 25px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(159,173,196,.4);
    border-radius: 15px;
}

.details-offer-block {
    height: 300px;
    padding: 25px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(159,173,196,.4);
    border-radius: 15px;
}

.details-user-name-contact {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details-user-block-name {
    font-size: 16px;
    text-align: left;
}

.details-user-block-contact {
    font-size: 14px;
    text-align: right;
}

.details-user-rate-date {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details-user-block-rate {
    font-size: 14px;
    text-align: left;
}

.details-user-block-date {
    font-size: 12px;
    text-align: right;
}

.details-user-feedback {
    margin-top: 10px;
    margin-bottom: 10px;
}