
@{
    ViewBag.Title = "Оплата прошла успешно";
}


<div class="text-center">
    <div class="alert alert-success  success-block">
        <p class="line-height-40">
            <span>Оплата прошла успешно</span>

        </p>
    </div>

</div>

