
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-danger  success-block">
        <p class="line-height-40">
            <span>Возникла ошибка при пополнении баланса.</span>
        </p>
    </div>
</div>

