
@{
    ViewBag.Title = "Недостаточно средств";
}


<div class="text-center">
    <div class="alert alert-warning  success-block">
        <p class="line-height-40">
            <span>На вашем счету недостаточно средств. @Html.ActionLink("Пополните счет здесь.","CashIn")</span>

        </p>
    </div>
</div>

