
@{
    ViewBag.Title = "Вывод создан";
}

<div class="text-center">
    <div class="alert alert-success  success-block">
        <p class="line-height-40">
            <span>Вывод создан и в ближайшее время будет перечислен на ваш счет.</span>
        </p>
    </div>
</div>


