
@{
    ViewBag.Title = "Баланс пополнен";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-success  success-block">
        <p class="line-height-40">
            <span>Баланс пополнен. Обновите страницу для актуализации информации.</span>
        </p>
    </div>
</div>


