@model Market.Web.ViewModels.OrderListViewModel
@{
    ViewBag.Title = "Заказы, где вы продавец";

}

<div class="row">
    <div class="col-lg-12">
        <div class="page-info">
            <h2>Заказы</h2>
            <p class="lead">Здесь отображается информация по заказам</p>
        </div>

        @{Html.RenderAction("AccountMenu", "Account"); }
        <div class="account-container">
            @{Html.RenderPartial("_AccountOrdersMenu", Model); }
            <div class="form-inline form-offer-filter">
                <h3 class="mb-0 text-gray text-300">
                    Заказы, где вы продавец:
                </h3>
            </div>

            <table class="table table-white">
                <tr>
                    <th>Предложение</th>
                    <th>Покупатель</th>
                    <th>Цена</th>
                    <th>Статус заказа</th>
                    <th></th>
                </tr>
                @foreach (var order in Model.Orders)
                {
                    @Html.Partial("_AccountOrderSellItem", order)
                }

            </table>
        </div>
    </div>

</div>

